* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    font-family: 'Abel', sans-serif;
    height: 100%;
    width: 100vw;
    color: white;
    background-color: #eee;
}
.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
header nav {
    width: 100vw;
    height: 50px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    transition: background 0.3s;
}
nav ul {
    padding: 0;
    vertical-align: bottom;
    margin: 0;
    display: flex;
    align-items: flex-end;
}
.header-nav-links {
    padding: 30px 30px 0 0;
}
a {
    color: #999;
    font-weight: 100;
    font-size: 22px;
    text-decoration: none;
    padding: 14px 10px 14px 10px;
}
.fa-bars {
    padding: 30px 0 0 30px;
}
a:hover {
    /* text-shadow: 0 3px 6px rgba(0,0,0,0.23), 0 3px 6px rgba(0,0,0,0.23); */
    color: #ccc;
}
.overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 30000;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,.95);
    overflow-x: hidden;
    transition: 0.15s;
}
.overlay-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 50px 0 0 30px;
}
.overlay-content > h2 {
    margin-top: 30px;
}
.overlay-content > a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: all .2s ease-in-out;
  }
.overlay-content a:hover, .overlay-content a:focus {
    color: #f1f1f1;
    transform: scale(1.2);
  }
.overlay .closebtn {
    position: absolute;
    top: 0;
    left: 30px;
    font-size: 50px;
}
#hero-section {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
    width: 100%;
    height: 48vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left; 
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    z-index:3;
    padding: 0 20px;
}
#hero-section:after {
    content:"";
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:-1;
    background:rgba(0, 0, 0, 0.6);
    position:absolute;
}
.hero-header {
    font-family: gt-america, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 1;
    color: #4392F1;
    font-size: 75px;
    margin: 0 0 5px 0;
}
.hero-subheader {
    font-family: gt-america, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 800;
    color: white;
    margin: 0;
}
.page-marker {
    position: absolute;
    left: 0;
    transform: rotate(-90deg);
    color: #818181;
    font-size: 22px;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 1080px;
    min-width: 80vw;
}
#About-Me {
    height: 39vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #fff; */
    border-radius: 2px;
    margin: 50px 0 50px 0;
    overflow: hidden;
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
    overflow: hidden;
    padding: 0 20px;
}
#headshot {
    height: 270px;
    width: auto;
    flex-shrink: 0;
    border: 2px solid #333;
    border-radius: 2px;
    transition: all .5s ease-in-out;
    overflow: hidden;
}
#brand-statement {
    font-family: gt-america, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 25px;
    margin: 0;
    text-align: left;
    max-width: 450px;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.9em;
    color: #333;
}
hr {
    color: #333;
    width: 100%;
    margin: 0;
}
.portfolio {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eee;
}
.projects-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    justify-content: first baseline;
    padding: 0 15px;
}
.h2-portfolio {
    font-family: gt-america, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 26px;
    font-weight: 400;
    align-self: flex-start;
    color: #333;
    margin: 40px 0 10px 15px;
}
.each-project {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin: 0 15px 15px 0;
    overflow: hidden;
    padding: 15px;
}
.project-text {
    max-width: 310px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.project-header {
    color: #777;
    font-size: 40px;
    font-weight: 600;
    margin: 0;
}
.project-paragraph {
    font-size: 20px;
    margin: 10px 0;
    text-align: left;
    color: #333;
    max-width: 300px;
}
.skills-wrapper {
    margin: 0;
    padding: 0;
    text-align: left;
}
.skills {
    color: #fff;
    background-color: #333;
    padding: 7px;
    border-radius: 2px;
    margin-bottom: 7px;
}
.card-link-wrapper {
    justify-self: flex-end;
    padding: 15px 0;
}
.project-link {
    color: #4392F1;
    font-size: 30px;
    padding-left: 10px;
}
/* img {
    position: relative;
    width: 250px;
    height: auto;
} */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #333;
}
footer > p {
    margin: 0 0 20px 0;
    text-align: center;
}
li {
    display: inline-block;
    padding: 20px 10px;
}
li:last-child {
    margin: auto;
    flex-grow: 2;
}
.fa-home {
    font-size: 22px;
}
.footer-ul {
    margin: 0;
    padding: 0;
}

.fab {
    font-size: 28px;
    margin: 0;
}
@media screen and (max-width: 900px) {

}
@media screen and (max-width: 768px) {
    .page-marker {
        display: none;
    }
}
@media screen and (max-width: 500px) {
    .overlay-content {
        align-self: center;
        margin-left: 0;
        justify-content: center;
        align-items: center;
        background-color: #222;
        border-radius: 20px;
        padding: 30px 50px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.23), 0 3px 6px rgba(0,0,0,0.23);
    }
    #hero-section {
        height: 37vh;
        justify-content: center;
    }
    .hero-header {
        font-size: 50px;
        margin-top: 40px;
    }
    main {
        width: 90vw;
    }
    #About-Me {
        flex-direction: column;
        height: auto;
        padding: 20px;
        margin: 20px 0;
    }
    #headshot {
        margin-bottom: 20px;
        height: auto;
        width: 90vw;
    }
    #brand-statement {
        font-size: 16px;
        width: 80vw;
        padding: 0;
        margin-left: 0;
        text-align: center;

    }
    .h2-portfolio {
        font-size: 22px;
        margin: 15px 0;
        align-self: center;
    }
    .each-project {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-right: 0;
    }
    .project-text {
        align-items: center;
        padding: 30px 0 0 0;
    }
    .project-header {
        font-size: 32px;
    }
    .project-paragraph {
        text-align: center;

    }
    .skills-wrapper {
        text-align: center;
    }
    .skills {
        font-size: 16px;
        padding: 7px;
        margin-bottom: 7px;
    }
}