* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    font-family: 'Abel', sans-serif;
    height: 100%;
    color: #333;
}
.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header {
    width: 100vw;
    height: 50px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: fixed;
    top: 0;
    transition: background 0.3s;
}
.name-in-header {
    margin: 0 0 0 25px;
    padding: 3px 10px;
    border-radius: 2px;

}
a {
    color: white;
    font-weight: 100;
    font-size: 18px;
    text-decoration: none;
    padding: 14px 10px 14px 10px;
}
a:hover {
    color: #999;
}
.header-nav {
    padding: 10px;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.hero-section {
    background-image: url("./Public/img/asphalt-bitumen-black-1038935.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    z-index:3;
    padding: 0 20px;
}

.hero-section:after {
    content:"";
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:-1;
    background:rgba(0,0,0,.75);
    position:absolute;
}
.hero-header {
    font-family: gt-america, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 800;
    border-radius: 2px;
    color: #F7F7FF;
    text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-size: 80px;
    margin: 0 0 5px 0;
}
.hero-sub-header {
    font-family: 'Roboto', sans-serif;
    color: #4392F1;
    margin: 0;
    font-weight: 600;
    font-size: 2em;
}
.hero-brand-statement {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: Esteban, Georgia, 'Times New Roman', serif;
    margin: 10px 0 10px 0;
    text-align: center;
    max-width: 490px;
    font-size: 22px;
    font-weight: 500;
    line-height: 2em;
    color: rgb(255, 243, 109);
}
.skills {
    color: white;
    background-color: #333;
    border: 1px solid #333;
    padding: 7px;
    margin-bottom: 7px; 
    border-radius: 5px;
}

.portfolio {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: #E7F0FF;
}
.h2-portfolio {
    font-family: 'Montserrat', sans-serif;
    font-size: 85px;
    font-weight: 800;
    border-radius: 2px;
    text-align: center;
    color: #ddd;
}
.projects-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 900px;
}
.each-project {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border-radius: 2px;
    border: .5px solid #ddd;
    margin: 0 25px 25px 25px;
    /* overflow: hidden; */
}
.project-header {
    color: #4392F1;
    font-size: 36px;
    margin-bottom: 20px;
    text-align: left;
}
.project-text {
    font-size: 22px;
    color: #333;
    max-width: 450px;
    padding: 40px;
}
.project-link {
    color: #4392F1;
    font-size: 30px;
    padding: 20px;
}
.project-link:hover {
    border-bottom: 10px solid #4392F1;

}
img {
    position: relative;
    width: 400px;
    height: auto;
}
.card-link-wrapper {
    padding: 15px;
}
footer {
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #333;
}
li {
    display: inline-block;
    padding: 20px 10px 20px 10px;
}
li:last-child {
    margin: auto;
    flex-grow: 2;
}

h3 {
    font-weight: 300;
    text-align: center;
    margin-top: 10px;
}
.fa-home {
    font-size: 22px;
}
.footer-ul {
    margin: 0;
    padding: 0;
}

.fab {
    font-size: 28px;
    margin: 0;
}
@media screen and (max-width: 900px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 500px) {
    .hero-header {
        font-size: 50px;
        margin-bottom: 0;
    }
    .hero-sub-header {
        font-size: 30px;
    }
    .hero-brand-statement {
        font-size: 15px;
        padding: 0 25px 0 25px;
    }
    .h2-portfolio {
        font-size: 50px;
    }
}