* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    background: #fff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #333;
    overflow: auto;
}
.wrapper {
    width: 96%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}

a {
    font-size: 22px;
    text-decoration: none;
    padding: 14px 10px 14px 10px;
    color: #fff;
}

a:hover, .dropbtn:hover {
    color: #ccc;
}

/* Toggle_NAV */
#overlayNav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 20;
    top: 74px;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: .3s;
    white-space: nowrap;
}
.overlay-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin: 0;
    padding: 25px;
}
.overlay-content > h2 {
    width: 100%;
    font-size: 18px;
    margin: 0;
    color: #999;
    padding: 5px 25px;
}
.overlay-content > a {
    padding: 5px 25px;
    word-wrap: none;
    text-decoration: none;
    font-size: 24px;
    color: #000;
    display: block;
    transition: all .2s ease-in-out;
  }

/* HEADER */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    width: 100%;
    color: #fff;
    background: linear-gradient(to bottom,#3566FE 0%, #0424F7 100%);
    position: relative;
}
header::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: 1;
    bottom: 0;
    transform-origin: right bottom;
    transform: skewY(-4deg);
    -webkit-transform: skewY(-4deg);
    -ms-transform: skewY(-4deg);
  }

#header-nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0);
    transition: all .3s ease-in-out;
    z-index: 3;
}
#nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#home > span {
    display: inline-block;
    margin:0;
    padding: 0;
    font-size: 1.2em;
}
#nav-wrapper > ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav-links {
    color: #fff;
}
#contact {
    background: #e83a30;
    border-radius: 2px;
}
#contact:hover {
    background: #ee6d66;
}
#burger-menu {
    display: none;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
  }
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 4px);
    transform: rotate(-45deg) translate(-9px, 4px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -5px);
    transform: rotate(45deg) translate(-8px, -5px);
  }
/* MAIN */
main {
    width: 100%;
}

/* HERO SECTION */
#hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 55vh;
    color: #fff;
    position: relative;
}
#hero-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    height: 100%;
    z-index: 2;
    transform: translateY(60px);
}
#h1-header {
    font-size: 75px;
    color: #fff;
    font-weight: 400;
    margin: 0 0 20px 0;
    font-family: gt-america, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#hero-subheader {
    line-height: 1.2em;
    font-size:27px;
    margin: 10px 0 0 0;
    padding: 0;
    color: #ACB5CA;
}

.hero-button {
    justify-self: flex-end;
    padding: 15px 25px;
    margin-top: 20px;
    border: 2px solid #fff;
    border-radius: 300000px;
    font-size: 1.2em;
    background-color: #fff;
    color: #000;
}

.hero-button:hover, #hero-button:hover {
    background-color: rgba(0,0,0,0);
    color: #fff;
}
#portfolio-header {
    font-size: 40px;
    font-weight: 400;
    color: #333;
    margin: 100px 0 100px 0;
}

/* BRAND SECTION */
#brand-section {
    display: flex;
    justify-content: center;
    padding-top: 85px;
}

#brand-statement {
    padding: 0;
    text-align: left;
    max-width: 500px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.8em;
    margin: 0;
}

/* PORTFOLIO SECTION */
#portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 170px;
    width: 100%;
}
#icon-portfolio {
    margin-top: 75px;
}
.projects-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: minmax(400px, 1fr);
    grid-gap: 20px;
    padding: 0;
}
.each-project {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    transition: all .3s ease-in-out;
    overflow: hidden;
}
.project-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    height: 65%;
    border: 1px solid #000;
    border-radius: 2px;
}
.project-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 35%;
    padding: 10px 10px 10px 10px;
    transition: all .3s ease-in-out;
    
}
#strooper-img {
    background-image: url("/Public/img/Strooper.png");
}
#fotogenic-img {
    background-image: url("/Public/img/Screen\ Shot\ 2019-01-23\ at\ 9.09.23\ PM.png");
}
#cashboard-img {
    background-image: url("/Public/img/CashBoard.png");
}
.project-header {
    font-family: gt-america, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}
.project-paragraph {
    font-size: 18px;
    margin: 0;
    text-align: left;
    color: #333;
    max-width: 300px;
}
.skills-wrapper {
    margin: 0;
    padding: 0;
    text-align: left;
}
.skills {
    font-size: 11px;
    color: #333;
    background-color: #ddd;
    padding: 1px 5px;
    margin: 5px 0;
    border-radius: 2px;
}
.card-button-links {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 2px;
    font-size: 16px;
    border: 2px solid #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.card-button-links:hover {
    background-color: #fff;
    color: #333;
}
/* END PORTFOLIO SECTION */

/* CONTACT SECTION */
#contact-section {
    background-color: #333;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}
#contact-header {
    align-self: center;
    color: #fff;
}
form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    width: 500px;
    padding: 0 15px;
}
#name-fields {
    display: flex;
}
label {
    color: #333;
}
input[type=text], input[type=email], textarea, input:focus {
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 10px;
    width: 100%;
    margin: 8px 0;
    outline: none;
    background: #eee;
}
textarea {
    resize: vertical;
    margin-bottom: 60px;
    background: #eee;
}
#fname {
    margin-right: 15px;
}
#under-button {
    align-self: center;
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    width: 75px;
    height: 75px;
    background-color: #333;
    border-radius: 50%;
    margin-top: 30px;
}
#contact-button {
    position: absolute;
    bottom: 0;
    margin: 0;
    transform: translateY(50%);
    align-self: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all .2s ease-in-out;
    background-color: #e83a30;
    border-color: #e83a30;
    cursor: pointer;
}
button:focus {
    outline: none;
}
#contact-button:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: scale(1.05) translateY(50%);
}
.fa-paper-plane {
    color: #fff;
    font-size: 20px;
}

/* FOOTER */
footer {
    background: #000;
    padding-top: 75px;
    color: #eee;
}
footer > div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}
footer > p {
    margin: 0;
    text-align: center;
}
li {
    display: inline-block;
    padding: 20px 10px;
}
li:last-child {
    margin: auto;
    flex-grow: 2;
}
.fa-home {
    font-size: 22px;
}
.footer-ul {
    margin: 0;
    padding: 0;
}
.fab {
    font-size: 28px;
    margin: 0;
}

@media screen and (max-width: 1010px) {
}
@media screen and (max-width: 805px) {

    /* MAIN */
    main {
        padding: 0;
    }

    /* HERO SECTION */

    /* PORTFOLIO SECTION */
    #portfolio {
        padding: 0 50px;
    }

    /* CONTACT SECTION */
    #contact-section {
        padding: 0;
    }

     /* FOOTER */
     footer {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 780px) {
}
@media screen and (max-width: 650px) {
    
}
@media screen and (max-width: 500px) {

    /* SIDE_NAV */
    .overlay-content {
        display: block;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .overlay-content > a {
        padding: 15px 25px;
    }

    /* HEADER */
    #header-nav {
        padding: 0 30px;
    }
    #home {
        padding-left: 0;
    }
    #burger-menu {
        display: inline-block;
        margin: 0;
        padding: 20px 0;
        cursor: pointer;
    }
    #nav-wrapper > ul {
        display: none;
    }

    /* MAIN */
    main {
        padding: 0;
    }

    /* HERO */
    #hero-section {
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        padding: 0 30px;
    }
    #h1-header {
        margin: 0;
        font-size: 45px;
        /* font-family: gt-america, "Helvetica Neue", Helvetica, Arial, sans-serif; */
    }
    #hero-subheader {
        font-size: 16px;
        margin-bottom: 15px;
        padding: 20px 0 0 0;
        margin: 0;
    }
    #headshot {
        margin-top: 30px;
        height: auto;
        max-width: 50px;
    }

    /* PORTFOLIO SECTION */
    #portfolio {
        padding: 0;
        margin-bottom: 50px;
        align-items: center;
    }
    .h2-portfolio {
        font-size: 22px;
        margin: 15px 0;
        align-self: center;
    }
    .each-project {
        flex-direction: column;
        justify-content: center;
    }
    .project-header {
        font-size: 22px;
    }
    .project-paragraph {
        line-height: 1.25em;
    }

    /* CONTACT SECTION */
    #contact-me {
        width: 100%;
        position: relative;
    }
    #contact-header {
        text-align: center;
        font-size: 23px;
    }
    form {
        width: 100%;
        padding: 0 15px;
    }
    button, button:hover {
        margin-bottom: 0;
        justify-self: flex-end;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        transform: scale(1.04) translateY(50%);
    }

    /* FOOTER */
    footer > p {
        font-size: 12px;
    }
  
}